/Task1-DeepLearning/venv
/Task1-DeepLearning/.vscode
/Task1-DeepLearning/HW1/.vscode
/Task1DeepLearning/HW1/Application/PerformaceEvaluation/__pycache__
/Task1-DeepLearning/HW1/Application/Charts/__pycache__
/Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__
/Task1-DeepLearning/HW1/Application/Jacobian/__pycache__
/Task1-DeepLearning/HW1/Application/CSVParser/__pycache__
/Task1-DeepLearning/HW1/Application/PerformaceEvaluation/__pycache__
/Task1-DeepLearning/HW1/Application/Jacobian/__pycache__
*.pyc
*.pyc
Task1-DeepLearning/HW1/Application/PerformaceEvaluation/__pycache__/KFoldCrossValidation.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NeuralNetwork.cpython-311.pyc
Task1-DeepLearning/HW1/Application/Jacobian/__pycache__/JacobiansComparator.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/FKNNFactory.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NeuralNetwork.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NN_2J_2D.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NN_3J_2D.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NN_5J_3D.cpython-311.pyc
Task1-DeepLearning/HW1/Application/PerformaceEvaluation/__pycache__/KFoldCrossValidation.cpython-311.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NeuralNetwork.cpython-311.pyc
*.pyc
*.pyc
Task1-DeepLearning/HW1/Application/NeuralNetwork/__pycache__/NeuralNetwork.cpython-311.pyc
